/* styles.css */
.green-bg {
    background-color: #14e05f; /* Green color */
  }
  
  .red-bg {
    background-color: #eb3434; /* Red color */
  }
  
  .yellow-bg {
    background-color: #ebc934; /* Yellow color */
  }
  